@import './base.css';

:root {
  --orange: #ec5a13;
  --light-grey: #f4f9fd;
  --beige: #fee9dd;
  --dark-grey: #627c93;
  --brown: #89380f;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 1055px;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
