@import './base.css';

:root {
  --orange: #ec5a13;
  --light-grey: #f4f9fd;
  --beige: #fee9dd;
  --dark-grey: #627c93;
  --brown: #89380f;
  --dark-blue: #094171;
  --height-header: 110px;
  --height-footer: 80px;
  --med-grey: grey;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  margin-top: var(--height-header);
}

.container {
  width: 1055px;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
